* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(165, 164, 164);
   
    /* background-image: url("/assets/images/stephen-leonardi-YVcg27FuJzs-unsplash.jpg");
  */

}
/* .navbar{ 
    background-color: aquamarine; 
    border: 2px solid black;

    height: 10vh;
} */


.title-is-1{
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.subtitle-is-2{
    font-size: 60px;
    color: rgb(3, 3, 3);
}
.pic-1{
    border: 1px solid black;
    
}
.pic-2{
    border: 5px solid rgb(109, 72, 72);
    padding-top: auto;
}
.pic-3{

    border: 5px solid rgb(109, 72, 72);
    margin: 10rem;
}
.bg-img{
    background-image: url("./images/SacramentoBG.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: rgb(14, 13, 13);
    
}
p{
    color: rgb(0, 0, 0);
}

.btn{
    color: rgb(12, 12, 12);
    font-size: 1.5rem;
}
.icon{

}
/* .hero-head{
    position: fixed;
    top: 0;
    width: 100%;
} */
.hero-foot{
    background-color: rgb(231, 236, 255);
}