* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{


}
/* .navbar{ 
    background-color: aquamarine; 
    border: 2px solid black;

    height: 10vh;
} */
#Jonny{

}
.card-header{

}